.vue-input-tag-wrapper {
	background: transparent;
	border: none;
	padding-bottom: none;
	align-items: center;
	.input-tag:nth-last-of-type(1) {
		margin-right: .7rem;
	}
}
.vue-input-tag-wrapper .input-tag {
	font-size: 1.0rem;
	height: 30px;
	margin-bottom: 0;
	&.minus {
		background: pink;
		border-color: darken(pink, 10%);
		color: #6E3E48;
		.remove {
			color: #6E3E48;
		}
	}
}
.vue-input-tag-wrapper .new-tag {
	font-size: 2.0rem;
	margin-bottom: 0;
	color: black;
}
